<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.Pharmacy"
        tools:targetApi="31">
        <activity
            android:name=".Activity.MainActivityDoctor"
            android:exported="false" />
        <activity
            android:name=".Activity.Profile"
            android:exported="false" />
        <activity
            android:name=".Activity.AllItems"
            android:exported="false" />
        <activity
            android:name=".Activity.Categories"
            android:exported="false" />
        <activity
            android:name=".Activity.FinishOrder"
            android:exported="false" />
        <activity
            android:name=".Activity.Cart"
            android:exported="false" />
        <activity
            android:name=".Activity.Love"
            android:exported="false" />
        <activity
            android:name=".Activity.Order"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting"
            android:exported="false" />
        <activity
            android:name=".Activity.ViewItem"
            android:exported="false" />
        <activity
            android:name=".Activity.MainSign"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.Login"
            android:exported="false" />
        <activity
            android:name=".Splash.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>