<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/telemedicine"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pharmacy"
        tools:targetApi="31">
        <activity
            android:name=".Activity.DoctorActivities.ViewItemDoctor"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.DoctorActivities.AddItem"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.ViewOrderDetailsCus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DoctorActivities.ViewOrderDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DoctorActivities.OrderStatus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DoctorActivities.SettingDoctors"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DeliveryActivities.SettingDelivery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DeliveryActivities.MainDelivery"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DoctorActivities.MainActivityDoctor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllItems"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Categories"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.FinishOrder"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.Cart"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.Love"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.OrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.Setting"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.searchItem"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewItem"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainSign"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.Shipment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.Payment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Customer.Conformation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>